<?xml version='1.0' encoding='utf-8'?>
<widget id="com.coderop.ninjasaga" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shinobi vs Ghost</name>
    <description>A premium ninja platformer game developed by Abuzaid Khan.</description>
    <author email="dev@coderop.com" href="https://youtube.com/@IMCODEROP">
        ABUZAID KHAN (CODER OP)
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="BackgroundColor" value="#000000" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="KeepRunning" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>
</widget>
